.about-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.75rem;
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: 0.75rem;
    padding-right: var(--bs-gutter-x,.75rem);
    width: 100%;
    
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
@media (min-width: 768px) {
    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}
.col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.row>* {
    max-width: 100%;
}
.tech-icons {
    border: 1.7px solid rgba(200,137,230,.637)!important;
    border-radius: 5px!important;
    box-shadow: 4px 5px 4px 3px rgba(89,4,168,.137)!important;
    display: table!important;
    font-size: 4.5em!important;
    margin: 15px!important;
    opacity: .93!important;
    overflow: hidden!important;
    padding: 10px!important;
    text-align: center!important;
    transition: all .4s ease 0s!important;
    vertical-align: middle!important;
}