.social-container {
    padding: 25px 50px;
}
  
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-6px);
}

a.linkedin {
    color: #319ffa;
}

a.github {
    color: #ffffff;
}

a.facebook {
    color: #333fde;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: rgb(248, 157, 222);
}


@media screen and (max-width:400px) {
    
    .social-container {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    a.social {
        margin: 0 0.5rem;
        transition: transform 250ms;
    }
}